.searchWrapper {
  width: 95%;
  margin: 30px auto 0;
}

.searchBox {
  line-height: normal;
}

.searchBox .ant-btn {
  border: none;
  border-radius: 8px 16px 0px 0px;
  background-color: #dde3ec;
}

.searchBox .ant-btn:hover,
.searchBox .ant-btn.activeSearch {
  color: #fff !important;
  background-color: #38404d !important;
}

.searchBox .ant-input.ant-input-lg {
  border-top-left-radius: 0;
}
