.logo {
  padding: 14px 20px;
  background: rgba(255, 255, 255, 0.02);
  text-align: center;
}

@media (max-width: 767px) {
  .logo {
    padding: 14px 20px;
    background: rgba(255, 255, 255, 0.02);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .all-tag {
    padding: 12px 24px;
    overflow: auto;
    height: 150px;
  }
}

.all-tag {
  padding: 12px 24px;
  overflow-y: auto;
}

.tag-item {
  background-color: #ffffff10;
  border: solid 1px #ffffff10;
  color: #fff;
  padding: 6px 12px;
  border-radius: 15px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 10px;
}

.tag {
  background-color: #ffffff10;
  color: #fff;
}
.selected-tag {
  background-color: #fff;
  color: #000;
}

.tag-item:hover {
  background-color: #d8d8d84e;
}
