.logo {
  padding: 14px 20px;
  background: rgba(255, 255, 255, 0.02);
  text-align: center;
}

.all-tag {
  padding: 12px 24px;
}

.tag-item {
  background-color: #ffffff10;
  border: solid 1px #ffffff10;
  color: #fff;
  padding: 6px 12px;
  border-radius: 15px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 10px;
}

.tag-item:hover{
    background-color: #d8d8d84e;
}
