.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}
.App-sider {
  text-align: center;
  line-height: 120px;
  color: #fff;
  background: #1D2531!important;
  height: 100vh;
  width: 240px;

}
.App-content {
  text-align: center;
  min-height: 120px;
  line-height: 120px;
  color: #fff;
  background-color: #108ee9;
  filter: grayscale(.8);
  padding: 0;
  position: relative;
  background-color: #F7F9FC;
  background-attachment: fixed;
  background-image: url(./intro.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: margin-left 0.4s;
  
}
.App-footer {
  text-align: center;
  color: #969EAA;
  background-color: #FFFFFF;
  
}


.App-header {
  text-align: center;
  color: #fff;
  height: 64;
  padding-inline: 50;
  line-height: 64px;
  background-color: #FFFFFF;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

